:root {
  --main-text-color: #ffffff;
  --second-text-color: #28a745;
  --logo-text-color: #2dc450;
  --hero-text-color: #e9e9e9;
  --third-text-color: #333333;
  --second-background-section: #e5e5e5;
  --fourth-background-section: #f4f4f4;
  --third-background-section: #0284d0;
  --first-background-section: #28a745;
  --overlay-background-color: rgba(0, 0, 0, 0.6);
  --social-icon-hover-color: rgb(255 255 255 / 60%);
  --form-color: #808080;
  --error-color: #ff0000;

  --anim-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --anim-duration: 250ms;

  --mobile: 320px;
  --tablet: 768px;
  --desktop: 1360px;

  --mobile-padding: 20px;
  --tablet-padding: 32px;
  --desktop-padding: 28px;
}

html {
  /* overflow: overlay;
  scrollbar-width: thin; */
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--main-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list,
li {
  list-style: none;
}

img {
  display: block;
}

a,
.link {
  text-decoration: none;
}
